.navbar-button {
  background-color: #1e3888;
  color: #efe9f4;
  padding: 8px 12px;
  border-radius: 4px;
  border: 2px solid #1e3888;
  margin-left: 5px;
  transition-duration: 0.5s;
  font-weight: bold;
}

.navbar-button:hover {
  background-color: #efe9f4;
  color: #1e3888;
}
